:root{
    --cor-fundo: #01080e;
    --cor-principal: #0b0d20;
    --cor-secundaria: #212333;
    --cor-destaque: #2bdefd;
    --cor-texto: #d7f99f;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}
h1{
    color: var(--cor-destaque);
}
button{
    background-color: var(--cor-principal);
    color: var(--cor-destaque);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-secundaria);
}
